/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del body*/


body{
    background-color: darkgray;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LogoImg{
    display: inline;
    flex-wrap: wrap;
    justify-content: left;
    height: 150px;
    width: 150px;
}

.Menu{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    flex-wrap: wrap;
    text-align: right;
}

nav ul{
    gap: 25px;
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
} 




/* estilos de footer */ 
.Prueba{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color:darkgrey;
}

.Prueba2{
    margin-left: 20rem;
}
.TextoNosotros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 5rem;
    width: 40rem;
    margin-top: 1rem;
}
.Nosotros{
    margin-left: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer .RedesPie a{
    text-decoration: none;
    color: black;
}
footer .RedesPie a img{
    width: 1rem;
}

footer a p{
    display: inline-block;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Terminos{
    background-color: darkgray;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

/* estilo pagina trabaja con nostros*/

/* estilos de main */
main {
    background-color: white;
    padding: 50px 0;
}
main h1{
    font-size: 50px;
    text-align: center;
    margin: 30px 0px;
    color: rgb(142, 11, 11);
}

main h2{
    text-align: center;
    margin: 20px 0px;
    color: rgb(142, 11, 11);
}

main .venta {
    margin: 40px 0;
    display: flex;
}
main .venta .venta-hijo h3{
    text-align: center;
}

main .venta .venta-hijo img{
    margin: 0 100px;
    width: 400px;
    height: 400px;
}


main .venta .venta-hijo p{
    text-align: center;
    margin: 0 50px;
}

.FormTcn{
    display: inline;
}

.LegendTcn{
    color: black;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* estilos de footer */ 
.PruebaTcn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color:darkgrey;
}

.Prueba2Tcn{
    margin-left: 20px;
}
.TextoNosotrosTcn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    width: 450px;
    margin-top: 10px;
}
.NosotrosTcn{
    margin-left: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer .RedesPieTcn a{
    text-decoration: none;
    color: black;
}
footer .RedesPieTcn a img{
    width: 20rem;
}

.Footer a p{
    display: inline-block;
    padding: 15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.TerminosTcn{
    background-color: darkgray;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

/* estilo de la pagina contacto*/

.MainContacto{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    }

    .MainContacto h2{
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .ContactoFormulario{
        width: 50%;
    }
    
    .ContactoFormulario div{
        font-size: 20px;
        margin: 50px;
    }
    
    
    .ContactoFormulario legend{
        font-size: 20px;
        text-align: center;
    }
    
    .ContactoFormulario input{
        font-size: 20px;
    }
    
    .ContactoFormulario {
        margin: 0 auto;
        width: 400px;
        padding: 20px;
    }
    
    .ContactoFormulario  label {
        display: inline-block;
    }
      
    .ContactoFormulario input, textarea {
        width: 300px;
    }
    
    .ContactoFormulario input{
        margin: 5px;
    } 

.EscribinosContacto{
    color:brown;
    font-size: xx-large;
    font-family: arial;
}

.ContactoInformacion{
    text-align: center;
    width: 50%;
}

.ContactoInformacion h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.ContactoInformacion p {
    margin-top: 30px;
    font-size: 15px;
}

/*Autos*/

.ImgFiat{
    width: 20rem;
}

.ImgFiesta{
    width: 20rem;
}

.ImgPeugeot{
    width: 20rem;
}